body{
    background-color:#df7db18a;
    margin:0;
    padding:0;
}


#contenedor {

    display:flex;

    justify-content:center;

    padding-top:220px;
}


img{

    width:480px;

    transition:0.3s;
}


img:hover{

    transform:scale(1.1);
}


/* pantalla completa */
#pantalla{

    position:absolute;

    width:100%;
    height:100%;

    display:flex;
}


/* bloque rojo fijo */
#rojo{

    width:30%;

    border:3px solid black;

    box-sizing:border-box;

    background-color:#8b0505;
}


/* bloque violeta */
#violeta{

    width:70%;

    border:3px solid black;

    box-sizing:border-box;

    display:flex;

    cursor:pointer;

    background-color:#c77dff;
}


/* bloque azul */
#azul{

    width:50%;

    border:3px solid black;

    box-sizing:border-box;

    background-color:#4361ee;

    /* evita clicks */
    pointer-events:none;
}


/* bloque verde */
#verde{

    width:50%;

    border:3px solid black;

    box-sizing:border-box;

    display:flex;

    flex-direction:column;

    cursor:pointer;

    background-color:#38b000;
}


/* mini fragmentos verdes */
.miniVerde{

    flex:1;

    border:3px solid black;

    box-sizing:border-box;

    background-color:#70e000;
}