body{

    background-color:#df7db18a;
    /* color de fondo general de toda la página */

    margin:0;
    /* saca margen automático que agrega el navegador */

    padding:0;
    /* saca padding automático */
}

/* ---------------- */
/* PANTALLA DE INICIO */
/* ---------------- */

#inicio{

    position:absolute;

    width:100%;

    height:100%;

    background-color:#6f0303;

    display:flex;

    justify-content:flex-end;

    align-items:flex-end;
}


#texto{

    color:white;

    font-family:monospace;

    font-size:16px;

    padding:40px;

    cursor:pointer;
}

/* ---------------- */
/* SEGUNDA PANTALLA */
/* ---------------- */

#pantalla{

    position:absolute;
    /* permite ubicarlo ocupando toda la pantalla */

    width:100%;
    /* ancho completo */

    height:100%;
    /* alto completo */

    display:flex;
    /* rojo y violeta quedan uno al lado del otro */

    background-color:#8b0505;
}




/* ---------------- */
/* BLOQUE ROJO */
/* nunca cambia */
/* ---------------- */

#rojo{

    position:relative;

    width:100%;
    /* empieza ocupando toda la pantalla */

    border:1px solid #e3e3e3;

    border-left:0;

    box-sizing:border-box;
    /* incluye el borde dentro del width */

    /* sin border-box sería:
       width + borde */

    /* con border-box:
       width ya incluye borde */

    /* entonces rojo sigue ocupando exactamente 30%
       aunque tenga borde */

    background-color:#940101;

    overflow:hidden;
}

#conectado{

    position:absolute;

    top:24px;

    right:24px;

    color:white;

    font-family:monospace;

    font-size:16px;

    z-index:3;
}

#escribiendo{

    position:absolute;

    top:50%;

    left:50%;

    transform:translate(-50%, -50%);

    color:white;

    font-family:monospace;

    font-size:16px;

    z-index:3;
}

#escribiendo.oculto{

    display:none;
}

#escribiendo span{

    animation:punto 1.2s infinite;
}

#escribiendo span:nth-child(2){

    animation-delay:0.2s;
}

#escribiendo span:nth-child(3){

    animation-delay:0.4s;
}

@keyframes punto{

    0%{opacity:0;}

    50%{opacity:1;}

    100%{opacity:0;}
}

.foto-cama{

    position:absolute;

    z-index:2;

    right:calc(70% + 24px);

    bottom:24px;

    width:21%;

    height:auto;

    display:block;

    cursor:pointer;
}

.foto-cables{

    position:absolute;

    top:0;

    left:0;

    width:100%;

    height:100%;

    object-fit:cover;

    transform:rotate(0deg);

    z-index:1;

    display:none;
}




/* ---------------- */
/* BLOQUE VIOLETA */
/* primer bloque clickeable */
/* ---------------- */

#violeta{

    position:relative;

    width:70%;
    /* ocupa el resto del ancho */

    border:1px solid #e3e3e3;

    border-right:0;

    box-sizing:border-box;

    display:flex;

    /* flex se pone en el padre */

    /* porque azul y verde viven adentro de violeta */

    /* violeta = contenedor */

    /* azul + verde = hijos */

    /* entonces violeta organiza a azul y verde */

    cursor:pointer;
    /* cambia cursor a manito */

    background-color:#6f0303;
}


#violeta.oculto{

    display:none;
}




/* ---------------- */
/* AZUL */
/* ---------------- */

#azul{

    width:50%;
    /* ocupa la mitad del violeta */

    border:1px solid #e3e3e3;

    box-sizing:border-box;

    background-color:#4a0202;
}




/* ---------------- */
/* VERDE */
/* ---------------- */

#verde{

    width:50%;
    /* comparte el espacio con azul */

    border:1px solid #e3e3e3;

    border-right:0;

    box-sizing:border-box;

    display:flex;

    flex-direction:column;
    /* column = apila hijos verticalmente */

    /* por eso los miniVerde
       quedan uno arriba del otro */

    cursor:pointer;

    background-color:#a30a0a;
}




/* ---------------- */
/* MINI VERDES */
/* ---------------- */

.miniVerde{

    flex:1;

    /* flex:1 reparte el espacio disponible */

    /* como hay dos miniVerde */

    /* ambos ocupan el mismo alto */

    /* uno arriba y otro abajo */

    border:1px solid #e3e3e3;

    box-sizing:border-box;

    background-color:#7a0404;

    display:flex;
    /* necesario para ordenar cuadrados internos */

    flex-wrap:wrap;

    /* wrap = si no entran en una fila */

    /* bajan a la fila siguiente */

    /* sin wrap:
       □ □ □ □ */

    /* con wrap:
       □ □
       □ □ */

    /* eso arma el 2x2 */

    cursor:pointer;
}




/* ---------------- */
/* CUADRADOS VERDES */
/* ---------------- */

.cuadradoVerde{

    width:50%;
    /* mitad del ancho */

    height:50%;
    /* mitad del alto */

    border:1px solid #e3e3e3;

    box-sizing:border-box;

    background-color:#5c0202;
}




/* ---------------- */
/* DIVISIÓN DEL AZUL */
/* ---------------- */

.azulGrande{

    height:70%;
    /* bloque superior más grande */

    border:1px solid #e3e3e3;

    box-sizing:border-box;

    background-color:#2b0000;
}


.azulChico{

    height:30%;
    /* ocupa menos espacio abajo */

    border:1px solid #e3e3e3;

    box-sizing:border-box;

    background-color:#9b1111;

    display:flex;
    /* necesario para que los hijos
       queden uno al lado del otro */
}

/* ---------------- */
/* FRAGMENTOS DEL AZUL GRANDE */
/* ---------------- */

.miniAzul{

    height:50%;
    /* mitad del alto */

    border:1px solid #e3e3e3;

    box-sizing:border-box;

    background-color:#3a0101;
}

/* ---------------- */
/* FRAGMENTOS DEL AZUL CHICO */
/* ---------------- */

.miniAzulChico{

    width:50%;

    height:100%;

    border:1px solid #e3e3e3;

    box-sizing:border-box;

    background-color:#b31b1b;
}

#violeta > :last-child,
#violeta > :last-child > .miniVerde,
#violeta > :last-child > .miniVerde > .cuadradoVerde:nth-child(even){

    border-right:0;
}
